* {
    margin:0;
    padding:0;
    overflow:hidden;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color:rgb(233, 233, 248);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
li {
    list-style: none;
    cursor: pointer;
}
a{
    text-decoration: none;
}
button{
    background-color:rgb(76, 76, 205);
    padding: 4px 10px;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-weight:600;
    width: fit-content;
}
button:hover{
    background-color:white;
    color:black;
    border:1px solid black;

}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
nav li{
    display: flex;
}
nav .logo {
    font-weight:700;
    font-size: 30px;
}
nav ul{
    display: flex;
    align-items: center;
    gap:30px;                                                                                ;
}
nav ul li:hover{
    text-decoration:underline;
}
.search-field{
    display:flex;
    gap: 35px;
}
input {
    padding:4px 10px;
}
.hero-section {
    display:flex;
    align-items: center;
}
.hero-left-section h1{
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 700;
}
.hero-left-section h1 span{
    color: rgb(18,155,155);
    font-weight: 900;
    font-size: 2.5rem;
}
.hero-left-section p{
    font-weight: 500;
}
.hero-left-section p span{
    font-weight:700;
    font-size: 25px;
    color:rgb(18,155,155) ;
}
.hero-right-section {
    display: flex;
    flex-direction:column;
    width:40%;
    align-items: center;
    justify-content: center;
}
.apna{
    display:flex;
    /* flex-direction:column; */
    gap: 50px;
}
.dar{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.hero-right-section btn{
    display:flex;
    align-items: center;
    gap:30px;
}
.hero-right-section img{
    height: 300px;
    width: 300px;
    border-radius:50%;
}
.hero-section{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction:row;
}
.hero-left-section{
    width:50%;
}
footer ul li a i:hover{
    size: 50px;
    color: aqua;
}